<form [formGroup]="editorForm" class="m-3">
    <div class="m-3">
        <label for="header">Header</label>
        <input id="header" formControlName="header" placeholder="Enter a header" class="form-control"/>
    </div>
    
    <div class="m-3 NgxEditor__Wrapper">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
        <ngx-editor [editor]="editor" formControlName="html" [placeholder]="'Type here...'"></ngx-editor>
    </div>


    <div class="m-3 form-group">
        <label for="tagsInput">Теги (Разделяются пробелом, максимум 5)</label>
        <input id="tagsInput" formControlName="tagsInput" class="form-control" placeholder="Enter tags" />
      </div>

      <button type="button" class="btn btn-dark m-3" (click)="sendContent()" [disabled]="!editorForm.valid"> Submit </button>
</form>


<app-record-viewer
    [header]="getHeader()" 
    [htmlContent]="getContent()"
    [authorName]="getAuthorName()" 
    [tags]="parsedDisplayTags" 
    [date]="getDate()"
    [showPreview]="showPreview"
    >
</app-record-viewer>
<!-- <div class="m-3">
    <h5 class = "m-3">Preview</h5>
    <h2>{{ editorForm.value.header }}</h2>
    <div class="m-3 preview-container" *ngIf="showPreview" style="display: flex; justify-content: space-between; align-items: center;">
        <div>
            <span>{{ currentDate | date:'short' }}</span>
        </div>
        <div>
            <span>Написал: {{ getAuthorName() }}</span>
        </div>
    </div>
    <div class="m-3 preview-container" *ngIf="showPreview">

        <div [innerHTML]="editorForm.value.html"></div>
    </div>

    <span class="m-3">
        <ng-container *ngFor="let tag of parsedTags">
            <span class="tag-item">  #{{ tag }}</span>
        </ng-container>
    </span>
</div> -->


